html{
    font-family: "Be Vietnam Pro" , sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: white ;
}

header {background-color: rgb(202, 178, 224);
}

.inline-container {
    /*display sirve para 
    
    
    
    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 42px;
}

nav{
    display: flex;
    align-items: center;
    gap: 18px;  /*gap sirve para  separar */
}

.--button{   
display: flex;
padding-inline: 16px;
padding-block: 8px; /*Aplica 8px de relleno en el inicio y fin del bloque*/
border: 1px solid #e4e4e4;
}